{% extends "accounts/_auth_layout.html" %}
{% load i18n %}
{% block title %}{% translate "Choose a new password" %}{% endblock %}
{% block auth_content %}
{% if validlink %}
  <h1 class="page-title">{% translate "Choose a new password" %}</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "includes/form_errors.html" %}
    {% include "includes/form_field.html" with field=form.new_password1 %}
    {% include "includes/form_field.html" with field=form.new_password2 %}
    <button class="button button--block" type="submit">{% translate "Save new password" %}</button>
  </form>
{% else %}
  <h1 class="page-title">{% translate "This link is no longer valid" %}</h1>
  <p>{% translate "It may have been used already or expired. Please request a new one." %}</p>
  <a class="button button--block" href="{% url 'accounts:password_reset' %}">{% translate "Request a new link" %}</a>
{% endif %}
{% endblock %}
